.screen {
  text-align: center;
  margin: 100px auto 150px;
  .container {
    @include sm {
      max-width: 540px;
    }
    .wrapper {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      @include md {
        max-width: 370px;
      }
      .imges-box {
        position: relative;
        .img-box {
          overflow: hidden;
          max-width: 739px;
          margin: 0 auto;
          border-radius: 50px;
          @include md {
            border-radius: 14px;
            max-width: 330px;
          }

          img {
            position: relative;
            z-index: 1;
            overflow: hidden;
            animation-name: img;
            animation-duration: 24.5s;
            animation-iteration-count: infinite;
          }
        }
        .balls-group {
          position: absolute;
          top: -10px;
          left: 75px;
          animation-name: ballsmove;
          animation-duration: 24.5s;
          animation-iteration-count: infinite;

          @include lg {
            animation-name: ballsmovelg;
            animation-duration: 24.5s;
            animation-iteration-count: infinite;
          }
          @include md {
            top: 165px;
            left: 5px;
            animation: none;
          }
          @include random1 {
            display: none;
          }
          ellipse {
            fill: #e2e2e2;
          }
        }
        .balls-group2 {
          position: absolute;
          bottom: -10px;
          right: 75px;
          animation-name: ballsmove2;
          animation-duration: 24.5s;
          animation-iteration-count: infinite;

          @include lg {
            animation-name: ballsmove2lg;
            animation-duration: 24.5s;
            animation-iteration-count: infinite;
          }
          @include md {
            animation: none;
            bottom: 165px;
            right: 5px;
          }
          @include random1 {
            display: none;
          }
          ellipse {
            fill: #f73c3c;
            @include md {
              fill: #ff6e1a;
            }
          }
        }
      }
      .up-box {
        z-index: 2;
        position: absolute;
        width: 175px;
        height: 95px;
        border-radius: 16px;
        background: #0d0d0d;
        top: 30px;
        left: -60px;
        text-transform: uppercase;
        @include t05s;
        &:hover {
          @include t05s;
          transform: scale(1.1);
          background-color: $secondary-color;
        }
        &::before {
          content: "";
          position: absolute;
          top: 16px;
          left: 10px;
          width: 24px;
          height: 24px;
          background-image: url(assets/img/star.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .up-title {
          font-family: $font-primary;
          font-size: 12px;
          opacity: 0.5;
          font-weight: 700;
          letter-spacing: 0.12px;
          padding-top: 20px;
          @include md {
            padding-top: 10px;
            padding-bottom: 0;
            font-size: 6px;
            letter-spacing: 0.06px;
          }
        }
        .up-descript {
          letter-spacing: 0.24px;
          @include md {
            margin-top: -9px;
            font-size: 12px;
            letter-spacing: 0.12px;
          }
        }
        @include lg {
          top: 0;
          left: -10px;
        }
        @include md {
          border-radius: 6px;
          width: 89px;
          height: 53px;
          &::before {
            top: 5px;
            left: 5px;
            width: 16px;
            height: 16px;
          }
        }
      }
      .down-box {
        z-index: 2;
        position: absolute;
        border-radius: 16px;
        background: #0d0d0d;
        width: 166px;
        height: 166px;
        bottom: 30px;
        right: -50px;
        @include t05s;
        @include lg {
          bottom: 0;
          right: -10px;
        }
        @include md {
          border-radius: 6px;
          width: 80px;
          height: 80px;
        }
        &:hover {
          @include t05s;
          transform: scale(1.1);
          background-color: $secondary-color;
        }
        .down-img {
          display: flex;
          align-items: center;
          img {
            padding: 20px;
            @include md {
              padding: 10px;
            }
          }
          .title-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 20px;
            position: relative;
            font-family: $font-primary;

            .down-title {
              font-size: 10px;
              font-weight: 600;
              letter-spacing: 0.1px;
              @include md {
                font-size: 5px;
                letter-spacing: 0.05px;
                margin: 0;
              }
            }
            .down-subtitle {
              font-size: 6px;
              font-weight: 600;
              letter-spacing: 0.06px;
              @include md {
                font-size: 3px;
                letter-spacing: 0.03px;
              }
            }
          }
        }
        .down-descript {
          font-size: 10px;
          letter-spacing: 0.1px;
          padding: 0 20px 25px;
          @include md {
            font-size: 5px;
            letter-spacing: 0.05px;
            padding: 0 10px 10px;
          }
        }
      }

      .blue-ball {
        position: absolute;
        top: -35px;
        right: -150px;
        animation-name: ball;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        @include xl {
          right: -50px;
        }
        @include lg {
          display: none;
        }
      }
      .red-ball {
        position: absolute;
        bottom: 255px;
        left: -50px;
        animation-name: ball;
        animation-duration: 4.5s;
        animation-iteration-count: infinite;
        @include lg {
          display: none;
        }
      }
    }
  }
}
