body {
  background-color: $primary-color;
  font-family: $font-primary;
  font-size: $font-size;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $title-color;
  font-family: $font-secondary;
}

a,
p,
span {
  color: $title-color;
  font-family: $font-primary;
}

.for-validator {
  @include visually-hidden;
}

.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.btn-dark {
  background-color: $primary-color;
  color: $title-color;
  border: 1px solid $title-color;
  padding: 12px 50px;
  border-radius: 24px;
  letter-spacing: 0.16px;
  white-space: nowrap;
  @include t05s;
  &:active,
  &:hover {
    @include t05s;
    background-color: $title-color;
    color: $primary-color;
    border: 1px solid $title-color;
  }
}

.btn-white {
  background-color: $title-color;
  color: $primary-color;
  border: 1px solid $title-color;
  padding: 12px 50px;
  border-radius: 24px;
  letter-spacing: 0.16px;
  white-space: nowrap;
  @include t05s;
  &:active,
  &:hover {
    @include t05s;
    background-color: $primary-color;
    color: $title-color;
    border: 1px solid $title-color;
  }
}
