header {
  width: 100%;
  max-width: 100vw;
  .navbar {
    margin: 72px auto 0;
    max-width: 1250px;
    padding: 0;
    .navbar-nav {
      margin: 0 auto;
      .nav-link {
        padding-left: 25px;
        padding-right: 25px;
        font-family: $font-primary;
        font-size: 1.125rem;
        line-height: 1.33;
        color: $title-color;
        letter-spacing: 0.18px;
        @include t05s;
        &.active {
          font-weight: 700;
        }
        &:hover {
          @include t05s;
          transform: translatey(-5px);
        }
      }
    }
    .btn-dark {
      margin: 0;
      @include t05s;
      &:active,
      &:hover {
        @include t05s;
        background-color: $title-color;
        color: $primary-color;
        border: 1px solid $title-color;
      }
    }
    .navbar-toggler {
      position: relative;
      text-align: center;
      border: none;
      width: 27.5px;
      height: 25px;
      padding: 0;
      &-icon {
        background-image: none;
        position: absolute;
        background-color: $title-color;
        height: 2.5px;
        width: 20.5px;
        left: 0;
        top: 11px;
        transition: 0.4s;
        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          background-color: $title-color;
          height: 2.5px;
          width: 27.5px;
          top: -11px;
          left: -3.5px;
          transition: 0.2s;
        }
        &::after {
          top: initial;
          bottom: -11px;
          left: -3.5px;
          transition: 0.2s;
          // top: -11px;
        }
      }
      &:focus {
        box-shadow: none;
      }
    }
    .navbar-collapse {
      text-align: center;
    }
  }
  [aria-expanded="true"] {
    .navbar-toggler-icon {
      background-color: transparent;
      width: 0;
      &::before {
        top: 0;
        transform: rotate(45deg);
      }
      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 800px;
    text-align: center;
    margin-top: 68px;
    .header-title {
      font-size: 64px;
      font-weight: 800;
      letter-spacing: 0.64px;
      margin-bottom: 24px;
    }
    .heaser-descript {
      font-size: 20px;
      letter-spacing: 0.2px;
      opacity: 0.6;
      margin-bottom: 32px;
    }
    .btn-white {
      z-index: 1;
      @include t05s;
      &:active,
      &:hover {
        @include t05s;
        background-color: $primary-color;
        color: $title-color;
        border: 1px solid $title-color;
      }
    }
  }
  .container-fluid {
    width: 100%;
    max-width: 100vw;
    position: relative;
    .blue-ball {
      width: 31px;
      height: 31px;
      position: absolute;
      bottom: 75px;
      left: 75px;
      animation-name: ball;
      animation-duration: 4.5s;
      animation-iteration-count: infinite;
      @keyframes ball {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.2);
        }

        100% {
          transform: scale(1);
        }
      }
    }
    .red-ball {
      overflow: hidden;
      position: absolute;
      width: 31px;
      height: 31px;
      bottom: 200px;
      right: 0;
      img {
        position: absolute;
        top: -17px;
        right: -34px;
      }
    }
  }
}
