<section class="about" id="about">
  <div class="container">
    <div class="wrapper-title">
      <span class="h4 about-subtitle">About Us</span>
      <h2 class="about-title">Our Teammate</h2>
    </div>
    <div class="row">
      <div class="col-xl-6">
        <div class="imges-box">
          <div class="img-box">
            <picture>
              <source media="(min-width:767px)" srcset="assets/img/about-img.png">
              <img class="img-fluid" src="assets/img/about-img-min.png" alt="logo" style="width:auto;">
            </picture>
          </div>
          @@include('balls.html')
        </div>
      </div>
      <div class="col-xl-6 order-first order-xl-last">
        <div class="descript-box">
          <p class="about-descript">We move with make a Creative Strategy for help your business goal, we help to
            improve your income by a services we have.
            make your content look interesting and make people look for your business</p>
          <p class="about-descript">We move with make a Creative Strategy for help your business goal, we help to
            improve your income by a services we have.
            make your content look interesting and make people look for your business</p>
          <div class="button-group">
            <button class="btn btn-white">About Us</button>
            <button class="btn btn-dark">Our Story</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>