<section class="screen">
  <div class="container">
    <div class="img-box">
      <img class="img-fluid" src="assets/img/screen-img.png" alt="screen">

    </div>
    <div class="up-box">
      <p class="up-title">Great Project</p>
      <h4 class="up-descript">800+ Done</h4>
    </div>
    <div class="down-box">
      <div class="down-img">
        <img src="assets/img/bill.png" alt="">
        <div class="title-box">
          <h6 class="down-title">Bill Adams</h6>
          <p class="down-subtitle">CEO UpTech</p>
        </div>
      </div>
      <p class="down-descript">“ This team is really the best in its field,I don't regret working with them, and will
        come back again thanks “</p>
    </div>
    <div class="blue-ball">
      <img src="assets/img/blue-ball.png" alt="ball">
    </div>
    <div class="red-ball">
      <img src="assets/img/red-ball.png" alt="ball">
    </div>
    @@include('balls.html')
  </div>
</section>