<section class="screen">
  <div class="container">
    <div class="wrapper">
      <div class="imges-box">
        <div class="img-box">
          <picture>
            <source media="(min-width:767px)" srcset="assets/img/screen-img.png">
            <img class="img-fluid" src="assets/img/screen-img-min.png" alt="logo" style="width:auto;">
          </picture>
        </div>
        @@include('balls.html')
      </div>
      <div class="up-box">
        <p class="up-title">Great Project</p>
        <h4 class="up-descript">800+ Done</h4>
      </div>
      <div class="down-box">
        <div class="down-img">
          <picture>
            <source media="(min-width:767px)" srcset="assets/img/bill.png">
            <img src="assets/img/bill-min.png" alt="logo" style="width:auto;">
          </picture>
          <div class="title-box">
            <h6 class="down-title">Bill Adams</h6>
            <p class="down-subtitle">CEO UpTech</p>
          </div>
        </div>
        <p class="down-descript">“ This team is really the best in its field,I don't regret working with them, and will
          come back again thanks “</p>
      </div>
      <div class="blue-ball">
        <img src="assets/img/blue-ball.png" alt="ball">
      </div>
      <div class="red-ball">
        <img src="assets/img/red-ball.png" alt="ball">
      </div>
    </div>
  </div>
</section>