<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/img/head-logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sevices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
        </ul>
        <button class="btn btn-dark" type="submit">Contact us</button>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1 class="header-title">Make your dream business goal come true</h1>
    <p class="heaser-descript">when you need us for improve your business, <br>
      then come with us to help your business have reach it, you just sit and feel that goal</p>
    <button class="btn btn-white">Start Project</button>
  </div>

  <div class="container-fluid">
    <div class="blue-ball">
      <img src="assets/img/blue-ball.png" alt="ball">
    </div>
    <div class="red-ball">
      <img src="assets/img/red-ball.png" alt="ball">
    </div>
  </div>
</header>