<section class="testimonial">
  <div class="container">
    <div class="wrapper-text">
      <p class="testimonial-subtitle">Testimonial</p>
      <h2 class="testimonial-title">People Talk about us</h2>
    </div>
  </div>
  <div class="container-fluid">
    <div class="wrapper-card">
      <div class="row">
        <div class="col-lg-6 col-xl-4">
          <div class="cards card1">
            <div class="cards-img">
              <img src="assets/img/card-img.png" alt="card">
            </div>
            <div class="cards-box">
              <h5 class="cards-title">Angel Rose</h5>
              <p class="cards-subtitle">Creative Manager</p>
            </div>
            <p class="cards-descript">There are many variations passages of Lorem Ipsum majority some by words which
              don't look .</p>
          </div>
        </div>
        <div class="col-lg-6 col-xl-4">
          <div class="cards card2">
            <div class="cards-img">
              <img src="assets/img/card-img.png" alt="card">
            </div>
            <div class="cards-box">
              <h5 class="cards-title">Angel Rose</h5>
              <p class="cards-subtitle">Creative Manager</p>
            </div>
            <p class="cards-descript">There are many variations passages of Lorem Ipsum majority some by words which
              don't look .</p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="cards card3">
            <div class="cards-img">
              <img src="assets/img/card-img.png" alt="card">
            </div>
            <div class="cards-box">
              <h5 class="cards-title">Angel Rose</h5>
              <p class="cards-subtitle">Creative Manager</p>
            </div>
            <p class="cards-descript">There are many variations passages of Lorem Ipsum majority some by words which
              don't look .</p>
          </div>
        </div>
      </div>
      @@include('balls.html')
    </div>
  </div>
</section>